.logo {
    height: 75px;
    background-color: lightgray;
    width: 75px;
    border-radius: 50%;
    background-image: url(https://i.pinimg.com/736x/43/53/83/435383c2ecf74d63a4dfcea87b441918.jpg);
    background-size: cover;
    background-position: center;
}

.main-header {
    display: flex;
    justify-content: space-between;
}